.blog {
  width: 100%;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog__container {
  width: 100%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.blog-title {
  margin-bottom: 16px;
}

.blog-content {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 32px;
  color: #554;
}