.home {
  width: 100%;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.home__container {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.home__title {
  text-align: center;
}

.home__blogs {
  width: 100%;
  margin-top: 24px;
}

.home__blogs-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  gap: 20px;
}

.home__blog-title {
  display: inline-block;
  color: #000;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}