.nav {
  width: 100%;
  height: auto;
  position: relative;
}

.nav__wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.nav__wrapper-item {
  position: relative;
  width: 100%;
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
}

.nav__brand-name {
  display: inline-block;
  font-size: 18px;
  color: #000;
  text-decoration: none;
}

.nav__menu {
  position: relative;
}

.nav__menu-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.nav__item-link {
  color: #000;
  text-decoration: none;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }
}
