<template>
  <nav class="nav">
    <div class="nav__wrapper">
      <div class="nav__wrapper-item">
        <div class="nav__brand">
          <NuxtLink to="/" class="nav__brand-name">
            Blog
          </NuxtLink>
        </div>
        <div class="nav__menu">
          <ul class="nav__menu-wrapper">
            <li class="nav__item">
              <a href="#" class="nav__item-link">
                Other Menu
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'NavBar'
}
</script>
