<template>
  <div class="blog">
    <div class="blog__container">
      <h2 class="blog-title">
        {{ blog.title }}
      </h2>
      <p class="blog-content">
        {{ blog.body }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'blog',
  async asyncData ({ $axios, params }) {
    const blog = await $axios.$get('https://jsonplaceholder.typicode.com/posts/' + params.id)
    return { blog }
  }
}
</script>
