<template>
  <section class="home">
    <div class="home__container">
      <h1 class="home__title">
        Blogs
      </h1>

      <div class="home__blogs">
        <div class="home__blogs-wrapper">
          <div
            v-for="blog in blogs"
            :key="blog.id"
            class="home__blog-item"
          >
            <div class="home__blog-content">
              <NuxtLink :to="`blog/${blog.id}`" class="home__blog-title">
                {{ blog.title }}
              </NuxtLink>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'IndexPage',

  data: () => ({
    loading: false,
    blogs: []
  }),

  async fetch () {
    const blogs = await this.$axios.$get('https://jsonplaceholder.typicode.com/posts')
    this.blogs = blogs.slice(0, 9)
  }
}
</script>
